.eui_button {
  font-size: 20px;
  padding: 8px 24px;
  border-radius: 20px;
  cursor: pointer;

  &--primary {
    background-color: #0000ff;
  }

  &--outline {
    color: #202124;
    border: 1px solid #202124;
  }
}
